.flarumite-spoiler {
  display: block;
  width: 100%;
  margin-bottom: 16px;

  // If we have spoilers within spoilers, add border to make it obvious
  & > .flarumite-spoiler--content > &[open] {
    @flarumite-spoiler--embedded-border-color: #ccc;
    & when (@config-dark-mode = true) {
      @flarumite-spoiler--embedded-border-color: #666;
    }

    > summary {
      border: 1px solid @flarumite-spoiler--embedded-border-color;
      border-bottom: none;
    }

    > .flarumite-spoiler--content {
      border: 1px solid @flarumite-spoiler--embedded-border-color;
      border-top: none;
    }
  }

  summary {
    cursor: pointer;

    // Remove the little arrow which shows
    list-style: none;

    // Chrome is a pain in the backside and
    // likes making it's own dumb standards
    &::-webkit-details-marker {
      display: none;
    }

    .Button();

    width: 100%;

    border-bottom: none;

    .flarumite-spoiler--title {
      .flarumite-spoiler--default-text {
        display: none;
      }

      .flarumite-spoiler--custom-text:empty {
        display: none;

        ~ .flarumite-spoiler--default-text {
          display: inline;
        }
      }
    }

    .flarumite-spoiler--title-open {
      display: none;
    }
  }

  &[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    // Automatically change between text when expanded/hidden
    .flarumite-spoiler--title-closed {
      display: none;
    }

    .flarumite-spoiler--title-open {
      display: inline;
    }
  }

  .flarumite-spoiler--content {
    padding: 12px;

    background: #fcfcfc;

    // add shadow effect
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.2) 0, transparent 4px);

    & when (@config-dark-mode = true) {
      background: #212121;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0, transparent 4px);
    }

    // Remove spacing from last paragraph in spoiler
    p:last-child {
      margin-bottom: 0;
    }
  }
}
